<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 60%;width: 60%;"></div>
       <form style="margin-left:30px;" th:action="@{/view}" th:object="${exdata}" method="POST">
        供货周期(天): (包材、大件、电子器件、小五金) <br/>
        <input type="text"  th:field="*{PCT}"  style="height: 15px;width: 60px;margin-left:70px;">
        <input type="text" th:field="*{LCT}" style="height: 15px;width: 60px;">
        <input type="text" th:field="*{ECT}"style="height: 15px;width: 60px;">
        <input type="text" th:field="*{HCT}" style="height: 15px;width: 60px;"><br/>
        产量: ('GW1111系列'、'GW1122系列'、'GW1813系列'、'A71锁'、'V8锁')<br/>
        <input type="text"  value= "*{GW11}" name="GW11" th:field="*{GW11}" style="height: 15px;width: 60px;margin-left:70px;">
        <input type="text"  value= "*{GW12}" name="GW12" th:field="*{GW12}" style="height: 15px;width: 60px;">
        <input type="text"  value= "*{GW13}" name="GW13" th:field="*{GW13}" style="height: 15px;width: 60px;">
        <input type="text"  value= "*{A71}" name="A71" th:field="*{A71}" style="height: 15px;width: 60px;">
        <input type="text"  value= "*{V8}" name="V8" th:field="*{V8}" style="height: 15px;width: 60px;">

        <input type="submit" value="计算储位" style="margin-left:10px;"><br/>
        </form> 
       
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" th:inline="javascript"  th:object="${exdata}">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var psr1 = [[${exdata.PSR}]];
var lsr1 = [[${exdata.LSR}]];
var esr1 = [[${exdata.ESR}]];
var hsr1 = [[${exdata.HSR}]];

var psr2 = [[${exdata.PSR12}]];
var lsr2 = [[${exdata.LSR12}]];
var esr2 = [[${exdata.ESR12}]];
var hsr2 = [[${exdata.HSR12}]];

var psr3 = [[${exdata.PSR13}]];
var lsr3 = [[${exdata.LSR13}]];
var esr3 = [[${exdata.ESR13}]];
var hsr3 = [[${exdata.HSR13}]];

var app = {};

option = null;
app.title = '';

option = {
    title: {
        text: '好太太生产物料储位计算',
    },
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
        data: ['包材', '大件','电子器件','小五金'],
        x: 'right'
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    yAxis:  {
        type: 'value',
        name: '个'
    },
    xAxis: {
        type: 'category',
        data: ['GW1111系列','GW1122系列','GW1813系列','A71','V8']
    },
    series: [
        {
            name: '包材',
            type: 'bar',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [psr1, psr2, psr3, [[${exdata.PSRA71[0]}]], [[${exdata.PSRV8[0]}]]]
        },
        {
            name: '大件',
            type: 'bar',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [lsr1, lsr2, lsr3,[[${exdata.PSRA71[0]}]], [[${exdata.PSRV8[0]}]]]
        },
        {
            name: '电子器件',
            type: 'bar',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [esr1, esr2, esr3, [[${exdata.PSRA71[2]}]], [[${exdata.PSRV8[2]}]]]
        },
        {
            name: '小五金',
            type: 'bar',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [hsr1, hsr2, hsr3, [[${exdata.PSRA71[3]}]], [[${exdata.PSRV8[3]}]]]
        }
    ]
};
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
</html>